{% extends 'base.html' %}

{% block content %}
    <div class="container my-3">
        <article class="blog-post d-flex justify-content-center">
            <div class="col-md-6">
                <h2 class="display-5 link-body-emphasis mb-1">{{ object.title }}</h2>
                <br>
                <p class="blog-post-meta">Created at {{ object.created_at }} by <a href="#">?</a></p>
                {{ object.body }}
            </div>
            <div class="col-md-6 p-3">
                <img src="{{ object.image.url }}" alt="{{ object.title }}" class="img-fluid">
            </div>
        </article>
    </div>
{% endblock %}